#settings
{
    background-color: #181818;
    color: white;
    font-size: 14px;
}

QDockWidget
{
    background-color: #181818;
    color: white;
    font-size: 14px;
}

QDockWidget::title
{
    background-color: #181818;
    padding-top: 6px;
    color: white;
}