
QSplitter::handle {
    background-color: #292929;
    width: 6px;
}
QSplitter::handle:hover {
    background-color: white;
}
                    
QSplitterHandle:hover
{
    background-color: white;
}

